[submodule "mods/craftguide"]
	path = mods/craftguide
	url = https://github.com/minetest-mods/craftguide.git
[submodule "signs_lib"]
	path = mods/signs_lib
	url = https://github.com/minetest-mods/signs_lib.git
[submodule "mods/drops"]
	path = mods/drops
	url = https://github.com/jordan4ibanez/drops.git
[submodule "mods/hud_hunger"]
	path = mods/hud_hunger
	url = https://github.com/BlockMen/hud_hunger.git
[submodule "mods/farming"]
	path = mods/farming
	url = https://github.com/tenplus1/farming.git
[submodule "mods/mesecons"]
	path = mods/mesecons
	url = https://github.com/minetest-mods/mesecons.git
[submodule "mods/digilines"]
	path = mods/digilines
	url = https://github.com/minetest-mods/digilines.git
